*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}

/*...*/
h3, h1{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    text-align: center;
  }
  h3{
    font-size: 1.2rem;
  }
  h1{
    font-size: 2.2rem;
  }

body{
    height: 100vh;
    display:flex;
    background-image: url("images/bkg_intro.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*rgb(242, 226, 200);*/
.box{
    margin: auto;
    background-color: rgba(256,256,256,.85) ;
    padding: 20px;
    width:50vw;
    padding: 27px;
    padding-bottom: 90px;
    border-radius: 1px;
}




/*Splash Screen*/

.intro{
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100vh;
background-color: #161616;
transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity:0;
}

.logo.active{
    bottom:0;
    opacity: 1;
    transition: ease-in-out 0.5s;

}

.logo.fade{
    bottom:150px;
    opacity:0px;
    transition: ease-in-out 0.5s;
}


        